/* -------------------- Storybook config tooltip -------------------- */

div[data-testid="tooltip"] {
    border-radius: 8px;
    overflow: hidden;
}

div[data-testid="tooltip"] a[id]:hover,
div[data-testid="tooltip"] button[id]:hover {
    background-color: rgb(17 24 39 / 5%) !important;
}

.dark div[data-testid="tooltip"] a[id]:hover,
.dark div[data-testid="tooltip"] button[id]:hover {
    background-color: rgb(255 255 255 / 5%) !important;
}

/* -------------------- Storybook sidebar -------------------- */

.dark .sidebar-container {
    background: #020713;
}

.sidebar-header img {
    width: 150px;
}

.sidebar-header a:focus {
    border: 1px solid transparent;
}

.sidebar-item {
    border-radius: 6px !important;
}

.dark .sidebar-item:hover {
    background: #101828 !important;
}

.dark .sidebar-item[data-selected="true"],
.dark .sidebar-item[data-selected="true"]:hover {
    background: #1f2937 !important;
}

.search-field,
.search-result-item {
    border-radius: 8px !important;
}

.sidebar-item,
.search-result-item {
    text-transform: capitalize;
}

.light .sidebar-item svg[type="component"],
.light .search-result-item svg[type="component"],
.dark .search-result-item mark {
    color: #10b981;
    font-weight: 600;
}

.dark .sidebar-item svg[type="component"],
.dark .search-result-item svg[type="component"],
.light .search-result-item mark {
    color: #059669;
    font-weight: 600;
}

.light .sidebar-item svg[type="document"],
.light .sidebar-item svg[type="story"],
.light .search-result-item svg[type="document"],
.light .search-result-item svg[type="story"] {
    color: #9ca3af;
}

.dark .sidebar-item svg[type="document"],
.dark .sidebar-item svg[type="story"],
.dark .search-result-item svg[type="document"],
.dark .search-result-item svg[type="story"] {
    color: #4b5563;
}

.light .search-result-item--label {
    color: #6b7280; /* text-gray-600 */
}

.dark .search-result-item--label {
    color: #a8abb0; /* text-gray-400 */
}

#sidebar-bottom-wrapper {
    display: none;
}

/* -------------------- Storybook args -------------------- */

.dark,
.dark #panel-tab-content div,
.dark .docblock-argstable-body > tr > td {
    background: #030712 !important;
}

.light,
.light #panel-tab-content div,
.light .docblock-argstable-body > tr > td {
    background: #f9fafb !important;
}

.dark .docblock-argstable-head > tr {
    background: #1e293b !important;
}

.dark .docblock-argstable-body tr > td textarea,
.dark .docblock-argstable-body tr > td select,
.dark .docblock-argstable-body tr > td:last-child button:not([tabindex="-1"]) {
    background: #111827;
    border: solid 1px #1f2937;
    box-shadow: none;
}

.light .docblock-argstable-body tr > td:last-child button:not([tabindex="-1"]) {
    background: white;
}