@plugin "@tailwindcss/forms" {
    strategy: base;
}

@source "../node_modules/.cache/vueless/safelist.txt";
@source "../node_modules/vueless";
@source "../vueless.config.ts";
@source "../vueless.config.js";
@source "../.vueless";


@variant light (&:where(.vl-light, .vl-light *));
@variant dark (&:where(.vl-dark, .vl-dark *));

@layer base {
    body {
        @apply antialiased text-(--vl-text) bg-(--vl-bg) scheme-light dark:scheme-dark;
    }
}

@theme {
    /* Brand colors */
    --color-brand-50: var(--vl-brand-50);
    --color-brand-100: var(--vl-brand-100);
    --color-brand-200: var(--vl-brand-200);
    --color-brand-300: var(--vl-brand-300);
    --color-brand-400: var(--vl-brand-400);
    --color-brand-500: var(--vl-brand-500);
    --color-brand-600: var(--vl-brand-600);
    --color-brand-700: var(--vl-brand-700);
    --color-brand-800: var(--vl-brand-800);
    --color-brand-900: var(--vl-brand-900);
    --color-brand-950: var(--vl-brand-950);
    --color-brand: var(--vl-brand);
    --color-brand-muted: var(--vl-brand-muted);
    --color-brand-lifted: var(--vl-brand-lifted);
    --color-brand-accented: var(--vl-brand-accented);

    /* Grayscale colors */
    --color-grayscale-50: var(--vl-grayscale-50);
    --color-grayscale-100: var(--vl-grayscale-100);
    --color-grayscale-200: var(--vl-grayscale-200);
    --color-grayscale-300: var(--vl-grayscale-300);
    --color-grayscale-400: var(--vl-grayscale-400);
    --color-grayscale-500: var(--vl-grayscale-500);
    --color-grayscale-600: var(--vl-grayscale-600);
    --color-grayscale-700: var(--vl-grayscale-700);
    --color-grayscale-800: var(--vl-grayscale-800);
    --color-grayscale-900: var(--vl-grayscale-900);
    --color-grayscale-950: var(--vl-grayscale-950);
    --color-grayscale: var(--vl-grayscale);
    --color-grayscale-muted: var(--vl-grayscale-muted);
    --color-grayscale-lifted: var(--vl-grayscale-lifted);
    --color-grayscale-accented: var(--vl-grayscale-accented);

    /* Info colors */
    --color-info: var(--vl-info);
    --color-info-muted: var(--vl-info-muted);
    --color-info-lifted: var(--vl-info-lifted);
    --color-info-accented: var(--vl-info-accented);

    /* Error colors */
    --color-error: var(--vl-error);
    --color-error-muted: var(--vl-error-muted);
    --color-error-lifted: var(--vl-error-lifted);
    --color-error-accented: var(--vl-error-accented);

    /* Warning colors */
    --color-warning: var(--vl-warning);
    --color-warning-muted: var(--vl-warning-muted);
    --color-warning-lifted: var(--vl-warning-lifted);
    --color-warning-accented: var(--vl-warning-accented);

    /* Success colors */
    --color-success: var(--vl-success);
    --color-success-muted: var(--vl-success-muted);
    --color-success-lifted: var(--vl-success-lifted);
    --color-success-accented: var(--vl-success-accented);

    /* Border radius rounding values */
    --radius-small: var(--vl-radius-sm);
    --radius-medium: var(--vl-radius-md);
    --radius-large: var(--vl-radius-lg);

    /* Text size */
    --text-small: var(--vl-text-sm);
    --text-small--line-height: var(--text-xs--line-height);
    --text-medium: var(--vl-text-md);
    --text-medium--line-height: var(--text-sm--line-height);
    --text-large: var(--vl-text-lg);
    --text-large--line-height: var(--text-base--line-height);

    /* Mobile safe area spaceing. TODO: Need to check, may not working. */
    --spacing-safe-top: "env(safe-area-inset-top)";
    --spacing-safe-bottom: "env(safe-area-inset-bottom)";
    --spacing-safe-left: "env(safe-area-inset-left)";
    --spacing-safe-right: "env(safe-area-inset-right)";
}

/* Text color utilities */

@utility text-default {
    color: var(--vl-text);
}

@utility text-lifted {
    color: var(--vl-text-lifted);
}

@utility text-accented {
    color: var(--vl-text-accented);
}

@utility text-muted {
    color: var(--vl-text-muted);
}

@utility text-inverted {
    color: var(--vl-text-inverted);
}

/* Border color utilities */

@utility border-default {
    color: var(--vl-border);
}

@utility border-lifted {
    color: var(--vl-border-lifted);
}

@utility border-accented {
    color: var(--vl-border-accented);
}

@utility border-muted {
    color: var(--vl-border-muted);
}

/* Background color utilities */

@utility bg-default {
    background-color: var(--vl-bg);
}

@utility bg-lifted {
    background-color: var(--vl-bg-lifted);
}

@utility bg-accented {
    background-color: var(--vl-bg-accented);
}

@utility bg-muted {
    background-color: var(--vl-bg-muted);
}

/* Outline width utilities */

@utility outline-small {
    outline-style: var(--tw-outline-style);
    outline-width: var(--vl-outline-sm);
}

@utility outline-medium {
    outline-style: var(--tw-outline-style);
    outline-width: var(--vl-outline-md);
}

@utility outline-large {
    outline-style: var(--tw-outline-style);
    outline-width: var(--vl-outline-lg);
}

