/* ------ Tailwind plugins ------ */

@plugin "@tailwindcss/forms" {
    strategy: base;
}

/* ------ Development sources ------ */

@source "../node_modules/.cache/vueless/safelist.txt";

/* ------ Production sources ------ */

@source "../.cache/vueless/safelist.txt";
@source "../vueless";

/* ------ Color mode settings ------ */

@variant light (&:where(.vl-light, .vl-light *));
@variant dark (&:where(.vl-dark, .vl-dark *));

/* ------ Base styles ------ */

@layer base {
    body {
        @apply antialiased text-(--vl-text) bg-(--vl-bg) scheme-light dark:scheme-dark;
    }
}

/* ------ Tailwind theme settings ------ */

@theme {
    /* Primary colors */
    --color-primary-50: var(--vl-primary-50);
    --color-primary-100: var(--vl-primary-100);
    --color-primary-200: var(--vl-primary-200);
    --color-primary-300: var(--vl-primary-300);
    --color-primary-400: var(--vl-primary-400);
    --color-primary-500: var(--vl-primary-500);
    --color-primary-600: var(--vl-primary-600);
    --color-primary-700: var(--vl-primary-700);
    --color-primary-800: var(--vl-primary-800);
    --color-primary-900: var(--vl-primary-900);
    --color-primary-950: var(--vl-primary-950);

    /* Primary colors */
    --color-primary: var(--vl-primary);
    --color-primary-lifted: var(--vl-primary-lifted);
    --color-primary-accented: var(--vl-primary-accented);

    /* Secondary colors */
    --color-secondary: var(--vl-secondary);
    --color-secondary-lifted: var(--vl-secondary-lifted);
    --color-secondary-accented: var(--vl-secondary-accented);

    /* Success colors */
    --color-success: var(--vl-success);
    --color-success-lifted: var(--vl-success-lifted);
    --color-success-accented: var(--vl-success-accented);

    /* Info colors */
    --color-info: var(--vl-info);
    --color-info-lifted: var(--vl-info-lifted);
    --color-info-accented: var(--vl-info-accented);

    /* Notice colors */
    --color-notice: var(--vl-notice);
    --color-notice-lifted: var(--vl-notice-lifted);
    --color-notice-accented: var(--vl-notice-accented);

    /* Warning colors */
    --color-warning: var(--vl-warning);
    --color-warning-lifted: var(--vl-warning-lifted);
    --color-warning-accented: var(--vl-warning-accented);

    /* Error colors */
    --color-error: var(--vl-error);
    --color-error-lifted: var(--vl-error-lifted);
    --color-error-accented: var(--vl-error-accented);

    /* Neutral colors */
    --color-neutral: var(--vl-neutral);
    --color-neutral-lifted: var(--vl-neutral-lifted);
    --color-neutral-accented: var(--vl-neutral-accented);

    /* Grayscale colors */
    --color-grayscale: var(--vl-grayscale);
    --color-grayscale-lifted: var(--vl-grayscale-lifted);
    --color-grayscale-accented: var(--vl-grayscale-accented);

    /* Border radius rounding values */
    --radius-small: var(--vl-rounding-sm);
    --radius-medium: var(--vl-rounding-md);
    --radius-large: var(--vl-rounding-lg);

    /* Text size */
    --text-tiny: var(--vl-text-xs);
    --text-tiny--line-height: calc(1 / var(--vl-text-xs));
    --text-small: var(--vl-text-sm);
    --text-small--line-height: calc(1 / var(--vl-text-sm));
    --text-medium: var(--vl-text-md);
    --text-medium--line-height: calc(1 / var(--vl-text-md));
    --text-large: var(--vl-text-lg);
    --text-large--line-height: calc(1 / var(--vl-text-lg));

    /* Mobile safe area spaceing. */
    --spacing-safe-top: "env(safe-area-inset-top)";
    --spacing-safe-bottom: "env(safe-area-inset-bottom)";
    --spacing-safe-left: "env(safe-area-inset-left)";
    --spacing-safe-right: "env(safe-area-inset-right)";
}

/* ------ Text color utilities ------ */

@utility text-default {
    color: var(--vl-text);
}

@utility text-lifted {
    color: var(--vl-text-lifted);
}

@utility text-accented {
    color: var(--vl-text-accented);
}

@utility text-muted {
    color: var(--vl-text-muted);
}

@utility text-inverted {
    color: var(--vl-text-inverted);
}

/* ------ Border color utilities ------  */

@utility border-default {
    border-color: var(--vl-border);
}

@utility border-lifted {
    border-color: var(--vl-border-lifted);
}

@utility border-accented {
    border-color: var(--vl-border-accented);
}

@utility border-muted {
    border-color: var(--vl-border-muted);
}

/* ------ Background color utilities ------ */

@utility bg-default {
    background-color: var(--vl-bg);
}

@utility bg-lifted {
    background-color: var(--vl-bg-lifted);
}

@utility bg-accented {
    background-color: var(--vl-bg-accented);
}

@utility bg-muted {
    background-color: var(--vl-bg-muted);
}

@utility bg-inverted {
    background-color: var(--vl-bg-inverted);
}

/* ------ Outline width utilities ------ */

@utility outline-small {
    outline-style: var(--tw-outline-style);
    outline-width: var(--vl-outline-sm);
}

@utility outline-medium {
    outline-style: var(--tw-outline-style);
    outline-width: var(--vl-outline-md);
}

@utility outline-large {
    outline-style: var(--tw-outline-style);
    outline-width: var(--vl-outline-lg);
}
